In [1]:
import pandas as pd

In [ ]:
data_model_output = pd.read_csv('../data/processed/data_model_output.csv')
weights = pd.read_csv('../data/interim/survey_weights_only_departing_and_arriving.csv')
#weights = pd.read_csv('../data/interim/survey_weights_only_departing_only.csv')

C:\Users\USVV724227\AppData\Local\Temp\ipykernel_50536\904094022.py:1: DtypeWarning: Columns (1,8,19,20,21,22,23,24,25,26,27,29,30,31,32,33,34,35,36,37,38,40,41,47,52,58,63,67,69,71,73,77,84,86,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,122,136,137,140,141,149,151,157,159,161,173,177,186,187,190,193,197,212,214,215,216,217,218,219,220,221,222,223,246,253,254,258,259,261,262,280,298,300,301,303,319,321,343) have mixed types. Specify dtype option on import or set low_memory=False.
  data_model_output = pd.read_csv('../data/processed/data_model_output.csv')

In [3]:
data_model_output = data_model_output.merge(weights, on='unique_id', how='left', suffixes=('', '_new'))
data_model_output['weight'] = data_model_output['weight_new']
data_model_output.drop(columns=['weight_new'], inplace=True)

In [4]:
data_model_output.head()

,unique_id,respondentid,is_completed,date_completed,is_pilot,is_self_administered,record_type_synthetic,access_mode,access_mode_label,access_mode_other,...,trip_start_time_label,valid_record_person,valid_record_trip,validation_error_person,validation_error_trip,validation_num_errors_person,validation_num_errors_trip,validation_severity_person,validation_severity_trip,weight
0,1,5473,True,2024-10-04,False,False,0,NaN,NaN,NaN,...,FIVE_TO_FIVE_THIRTY,True,True,[],[],0,0,NaN,NaN,8.194184
1,2,5476,True,2024-10-04,False,False,0,1.0,WALK,NaN,...,EIGHT_THIRTY_TO_NINE,True,True,[],[],0,0,NaN,NaN,7.183526
2,3,5489,True,2024-10-04,False,False,0,NaN,NaN,NaN,...,SIX_TO_SIX_THIRTY,True,True,[],[],0,0,NaN,NaN,8.194184
3,4,5558,True,2024-10-04,False,False,0,1.0,WALK,NaN,...,ELEVEN_TO_ELEVEN_THIRTY,True,True,[],[],0,0,NaN,NaN,7.183526
4,5,5593,True,2024-10-04,False,False,0,1.0,WALK,NaN,...,NOON_TO_TWELVE_THIRTY,True,True,[],[],0,0,NaN,NaN,7.183526

In [5]:
data_model_output.to_csv('../data/processed/data_model_output.csv', index=False)