In [1]:
import pandas as pd

In [2]:
data_model_output = pd.read_csv('../data/processed/data_model_output.csv')
weights_departing_and_arriving = pd.read_csv('../data/interim/survey_weights_only_departing_and_arriving.csv')
weights_departing_only = pd.read_csv('../data/interim/survey_weights_only_departing_only.csv')
weights_non_sas_departing_only = pd.read_csv('../data/interim/survey_weights_only_departing_non_sas_only.csv')

C:\Users\USVV724227\AppData\Local\Temp\ipykernel_21724\1030502443.py:1: DtypeWarning: Columns (1,13,14,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,47,48,54,55,59,65,70,74,77,78,80,82,83,86,93,95,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,132,142,147,150,151,152,155,156,157,167,169,177,179,194,195,196,199,208,209,214,221,237,239,240,241,242,243,244,246,248,249,273,283,284,285,288,291,295,296,297,299,300,335,337,338,340,410,413) have mixed types. Specify dtype option on import or set low_memory=False.
  data_model_output = pd.read_csv('../data/processed/data_model_output.csv')

In [3]:
# Drop the original weight column
data_model_output = data_model_output.drop(columns=['weight'], errors='ignore')

# Merge weights into the main dataset
data_model_output = data_model_output.merge(
    weights_departing_and_arriving[['unique_id', 'weight']], 
    on='unique_id', how='left'
).rename(columns={'weight': 'weight_departing_and_arriving'})

data_model_output = data_model_output.merge(
    weights_departing_only[['unique_id', 'weight']], 
    on='unique_id', how='left'
).rename(columns={'weight': 'weight_departing_only'})

data_model_output = data_model_output.merge(
    weights_non_sas_departing_only[['unique_id', 'weight']], 
    on='unique_id', how='left'
).rename(columns={'weight': 'weight_non_sas_departing_only'})

In [4]:
data_model_output.head()

,unique_id,respondentid,is_completed,is_valid_record,date_completed,time_completed,is_pilot,is_self_administered,record_type_synthetic,access_mode,...,trip_start_time_label,validation_error_person,validation_error_trip,validation_num_errors_person,validation_num_errors_trip,validation_severity_person,validation_severity_trip,weight_departing_and_arriving,weight_departing_only,weight_non_sas_departing_only
0,1,5473,True,True,2024-10-04,08:41:12,False,False,0,NaN,...,FIVE_TO_FIVE_THIRTY,[],[],0,0,NaN,NaN,5.077165,5.124186,8.599911
1,2,5476,True,True,2024-10-04,08:40:04,False,False,0,1.0,...,EIGHT_THIRTY_TO_NINE,[],[],0,0,NaN,NaN,4.749957,4.813390,7.511901
2,3,5489,True,True,2024-10-04,08:51:36,False,False,0,NaN,...,SIX_TO_SIX_THIRTY,[],[],0,0,NaN,NaN,5.077165,5.124186,8.599911
3,4,5558,True,True,2024-10-04,10:32:58,False,False,0,1.0,...,ELEVEN_TO_ELEVEN_THIRTY,[],[],0,0,NaN,NaN,4.749957,4.813390,7.511901
4,5,5593,True,True,2024-10-04,11:09:46,False,False,0,1.0,...,NOON_TO_TWELVE_THIRTY,[],[],0,0,NaN,NaN,4.749957,4.813390,7.511901

In [5]:
data_model_output.to_csv('../data/processed/data_model_output.csv', index=False)