In [1]:
import pandas as pd
import os

In [2]:
interim_dir = "../data/interim"
processed_dir = "../data/processed"
data_model_file = os.path.join(processed_dir, "data_model_output.csv")

In [3]:
data_model_df = pd.read_csv(data_model_file)

C:\Users\USVV724227\AppData\Local\Temp\ipykernel_34380\3792778259.py:1: DtypeWarning: Columns (1,13,14,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,47,48,54,55,59,65,69,74,77,78,80,82,83,86,93,95,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,132,142,147,150,151,152,155,156,157,167,169,177,179,196,197,198,201,210,211,216,223,237,239,240,241,242,243,244,246,248,249,273,283,284,285,288,291,295,296,297,299,300,335,337,338,340,411,414) have mixed types. Specify dtype option on import or set low_memory=False.
  data_model_df = pd.read_csv(data_model_file)

In [4]:
working_df = data_model_df[(data_model_df['is_completed'] == 1) & (data_model_df['record_type_synthetic'] == 0) & (data_model_df['initial_etc_check']==True) & (data_model_df['validation_severity_person']!='Critical') & (data_model_df['validation_severity_trip'] != 'Critical')]

In [5]:
# Create raw count crosstab
count_ct = pd.crosstab(working_df['thanksgiving_week_flag'], working_df['resident_visitor_purpose_label'])

# Add 'Total' column (row-wise sum)
count_ct['Total'] = count_ct.sum(axis=1)

# Create percentage crosstab (row-wise)
percent_ct = pd.crosstab(working_df['thanksgiving_week_flag'], working_df['resident_visitor_purpose_label'], normalize='index') * 100

# Add a 'Total' column to percentages (always 100%)
percent_ct['Total'] = 100.0

# Format percentage to 1 decimal place and add %
percent_ct = percent_ct.round(1).astype(str) + '%'

# Combine counts and percentages
combined_ct = count_ct.astype(str) + ' (' + percent_ct + ')'

# Optional: Rename index/column names for clarity
combined_ct.index.name = 'Thanksgiving Week'
combined_ct.columns.name = 'Purpose'

In [6]:
import pandas as pd

def thanksgiving_percentage_crosstab(df, column, flag_col='thanksgiving_week_flag'):
    """
    Generate a percentage-only crosstab showing distribution of a column
    across Thanksgiving vs non-Thanksgiving week.

    Parameters:
    - df (pd.DataFrame): The input DataFrame
    - column (str): The column to break down
    - flag_col (str): The binary flag column indicating Thanksgiving week (default: 'thanksgiving_week_flag')

    Returns:
    - pd.DataFrame: Crosstab of percentages with '%', including a 100% total column
    """
    # Create percentage crosstab (row-wise)
    percent_ct = pd.crosstab(df[flag_col], df[column], normalize='index') * 100

    # Add a 'Total' column (always 100%)
    percent_ct['Total'] = 100.0

    # Format percentage
    percent_ct = percent_ct.round(1).astype(str) + '%'

    # Rename axes for clarity
    percent_ct.index.name = 'Thanksgiving Week'
    percent_ct.columns.name = column

    return percent_ct

In [7]:
thanksgiving_percentage_crosstab(working_df, 'checked_bags')

checked_bags,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,Total
Thanksgiving Week,,,,,,,,,,
False,47.2%,31.8%,15.6%,2.9%,1.6%,0.4%,0.2%,0.1%,0.2%,100.0%
True,54.4%,17.5%,15.8%,7.0%,5.3%,0.0%,0.0%,0.0%,0.0%,100.0%

In [8]:
combined_ct

Purpose,EMPLOYEE,RESIDENT_BUSINESS,RESIDENT_NON_BUSINESS,VISITOR_BUSINESS,VISITOR_NON_BUSINESS,Total
Thanksgiving Week,,,,,,
False,659 (13.3%),454 (9.1%),1309 (26.3%),868 (17.5%),1681 (33.8%),4971 (100.0%)
True,0 (0.0%),7 (12.3%),28 (49.1%),4 (7.0%),18 (31.6%),57 (100.0%)

In [9]:
# Ensure date_completed is datetime
working_df['date_completed'] = pd.to_datetime(working_df['date_completed'])

# Define the Thanksgiving week Wednesday to Friday range
thanksgiving_start = pd.Timestamp('2024-11-27')  # Wednesday
thanksgiving_end = pd.Timestamp('2024-11-29')    # Friday

# Flag for Thanksgiving Wed-Fri
working_df['thanksgiving_wed_fri_flag'] = working_df['date_completed'].between(thanksgiving_start, thanksgiving_end)

# Flag for Wed-Fri of all other weeks (not Thanksgiving Wed-Fri)
working_df['other_wed_fri_flag'] = (
    (working_df['date_completed'].dt.weekday >= 2) &  # Wednesday=2, Thursday=3, Friday=4
    (working_df['date_completed'].dt.weekday <= 4) &
    (~working_df['thanksgiving_wed_fri_flag'])
)

# Filter data for only these two groups
filtered_df = working_df[working_df['thanksgiving_wed_fri_flag'] | working_df['other_wed_fri_flag']].copy()

# Create a flag column for clarity
filtered_df['wed_fri_period'] = filtered_df['thanksgiving_wed_fri_flag'].map(
    {True: 'Thanksgiving Wed-Fri', False: 'Other Weeks Wed-Fri'}
)

# Create raw count crosstab
count_ct = pd.crosstab(filtered_df['wed_fri_period'], filtered_df['resident_visitor_purpose_label'])

# Add 'Total' column (row-wise sum)
count_ct['Total'] = count_ct.sum(axis=1)

# Create percentage crosstab (row-wise)
percent_ct = pd.crosstab(filtered_df['wed_fri_period'], filtered_df['resident_visitor_purpose_label'], normalize='index') * 100

# Add a 'Total' column to percentages (always 100%)
percent_ct['Total'] = 100.0

# Format percentage to 1 decimal place and add %
percent_ct = percent_ct.round(1).astype(str) + '%'

# Combine counts and percentages
combined_ct = count_ct.astype(str) + ' (' + percent_ct + ')'

# Optional: Rename index/column names for clarity
combined_ct.index.name = 'Wed-Fri Period'
combined_ct.columns.name = 'Purpose'

# Display the result
combined_ct

C:\Users\USVV724227\AppData\Local\Temp\ipykernel_34380\2855038743.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df['date_completed'] = pd.to_datetime(working_df['date_completed'])
C:\Users\USVV724227\AppData\Local\Temp\ipykernel_34380\2855038743.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df['thanksgiving_wed_fri_flag'] = working_df['date_completed'].between(thanksgiving_start, thanksgiving_end)
C:\Users\USVV724227\AppData\Local\Temp\ipykernel_34380\2855038743.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df['other_wed_fri_flag'] = (

Purpose,EMPLOYEE,RESIDENT_BUSINESS,RESIDENT_NON_BUSINESS,VISITOR_BUSINESS,VISITOR_NON_BUSINESS,Total
Wed-Fri Period,,,,,,
Other Weeks Wed-Fri,429 (16.7%),182 (7.1%),815 (31.8%),559 (21.8%),580 (22.6%),2565 (100.0%)
Thanksgiving Wed-Fri,0 (0.0%),0 (0.0%),9 (75.0%),0 (0.0%),3 (25.0%),12 (100.0%)

In [10]:
# Ensure date_completed is datetime
working_df['date_completed'] = pd.to_datetime(working_df['date_completed'])

# Thanksgiving week date ranges
tg_mon_start = pd.Timestamp('2024-11-25')  # Monday
tg_tue_end = pd.Timestamp('2024-11-26')    # Tuesday
tg_wed_start = pd.Timestamp('2024-11-27')  # Wednesday
tg_thu_end = pd.Timestamp('2024-11-28')    # Thursday
tg_fri_start = pd.Timestamp('2024-11-29')  # Friday
tg_sun_end = pd.Timestamp('2024-12-01')    # Sunday

# Flags for Thanksgiving periods
working_df['tg_mon_tue_flag'] = working_df['date_completed'].between(tg_mon_start, tg_tue_end)
working_df['tg_wed_thu_flag'] = working_df['date_completed'].between(tg_wed_start, tg_thu_end)
working_df['tg_fri_sun_flag'] = working_df['date_completed'].between(tg_fri_start, tg_sun_end)

# Flags for non-Thanksgiving periods
# Monday (0) or Tuesday (1), but not Thanksgiving week
working_df['other_mon_tue_flag'] = (
    (working_df['date_completed'].dt.weekday.isin([0, 1])) &
    (~working_df['tg_mon_tue_flag'])
)
# Wednesday (2) or Thursday (3), but not Thanksgiving week
working_df['other_wed_thu_flag'] = (
    (working_df['date_completed'].dt.weekday.isin([2, 3])) &
    (~working_df['tg_wed_thu_flag'])
)
# Friday (4), Saturday (5), Sunday (6), but not Thanksgiving week
working_df['other_fri_sun_flag'] = (
    (working_df['date_completed'].dt.weekday.isin([4, 5, 6])) &
    (~working_df['tg_fri_sun_flag'])
)

# Combine into a new period label
def period_label(row):
    if row['tg_mon_tue_flag']:
        return 'Thanksgiving Mon-Tue'
    elif row['tg_wed_thu_flag']:
        return 'Thanksgiving Wed-Thu'
    elif row['tg_fri_sun_flag']:
        return 'Thanksgiving Fri-Sun'
    elif row['other_mon_tue_flag']:
        return 'Other Weeks Mon-Tue'
    elif row['other_wed_thu_flag']:
        return 'Other Weeks Wed-Thu'
    elif row['other_fri_sun_flag']:
        return 'Other Weeks Fri-Sun'
    else:
        return None

working_df['period_label'] = working_df.apply(period_label, axis=1)

# Filter to only relevant periods
filtered_df = working_df[working_df['period_label'].notnull()].copy()

# Create raw count crosstab
count_ct = pd.crosstab(filtered_df['period_label'], filtered_df['resident_visitor_purpose_label'])
count_ct['Total'] = count_ct.sum(axis=1)

# Create percentage crosstab (row-wise)
percent_ct = pd.crosstab(filtered_df['period_label'], filtered_df['resident_visitor_purpose_label'], normalize='index') * 100
percent_ct['Total'] = 100.0
percent_ct = percent_ct.round(1).astype(str) + '%'

# Combine counts and percentages
combined_ct = count_ct.astype(str) + ' (' + percent_ct + ')'

# Optional: Rename index/column names for clarity
combined_ct.index.name = 'Period'
combined_ct.columns.name = 'Purpose'

# Display the result
combined_ct

C:\Users\USVV724227\AppData\Local\Temp\ipykernel_34380\2076532943.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df['date_completed'] = pd.to_datetime(working_df['date_completed'])
C:\Users\USVV724227\AppData\Local\Temp\ipykernel_34380\2076532943.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df['tg_mon_tue_flag'] = working_df['date_completed'].between(tg_mon_start, tg_tue_end)
C:\Users\USVV724227\AppData\Local\Temp\ipykernel_34380\2076532943.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df['tg_wed_thu_flag'] = working_df['date_completed'].between(tg_wed_start, tg_thu_end)
C:\Users\USVV724227\AppData\Local\Temp\ipykernel_34380\2076532943.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df['tg_fri_sun_flag'] = working_df['date_completed'].between(tg_fri_start, tg_sun_end)
C:\Users\USVV724227\AppData\Local\Temp\ipykernel_34380\2076532943.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df['other_mon_tue_flag'] = (
C:\Users\USVV724227\AppData\Local\Temp\ipykernel_34380\2076532943.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df['other_wed_thu_flag'] = (
C:\Users\USVV724227\AppData\Local\Temp\ipykernel_34380\2076532943.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df['other_fri_sun_flag'] = (
C:\Users\USVV724227\AppData\Local\Temp\ipykernel_34380\2076532943.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df['period_label'] = working_df.apply(period_label, axis=1)

Purpose,EMPLOYEE,RESIDENT_BUSINESS,RESIDENT_NON_BUSINESS,VISITOR_BUSINESS,VISITOR_NON_BUSINESS,Total
Period,,,,,,
Other Weeks Fri-Sun,118 (8.3%),106 (7.4%),391 (27.4%),286 (20.0%),527 (36.9%),1428 (100.0%)
Other Weeks Mon-Tue,173 (10.5%),213 (13.0%),341 (20.8%),182 (11.1%),733 (44.6%),1642 (100.0%)
Other Weeks Wed-Thu,368 (19.3%),137 (7.2%),578 (30.3%),400 (21.0%),422 (22.2%),1905 (100.0%)
Thanksgiving Fri-Sun,0 (0.0%),5 (20.0%),7 (28.0%),0 (0.0%),13 (52.0%),25 (100.0%)
Thanksgiving Mon-Tue,0 (0.0%),0 (0.0%),13 (65.0%),4 (20.0%),3 (15.0%),20 (100.0%)
Thanksgiving Wed-Thu,0 (0.0%),0 (0.0%),7 (87.5%),0 (0.0%),1 (12.5%),8 (100.0%)

In [11]:
# Define the desired order
period_order = [
    'Thanksgiving Mon-Tue',
    'Thanksgiving Wed-Thu',
    'Thanksgiving Fri-Sun',
    'Other Weeks Mon-Tue',
    'Other Weeks Wed-Thu',
    'Other Weeks Fri-Sun'
]

# Set period_label as a categorical with the desired order
filtered_df['period_label'] = pd.Categorical(
    filtered_df['period_label'],
    categories=period_order,
    ordered=True
)

# Create raw count crosstab
count_ct = pd.crosstab(filtered_df['period_label'], filtered_df['resident_visitor_purpose_label'])
count_ct['Total'] = count_ct.sum(axis=1)

# Create percentage crosstab (row-wise)
percent_ct = pd.crosstab(filtered_df['period_label'], filtered_df['resident_visitor_purpose_label'], normalize='index') * 100
percent_ct['Total'] = 100.0
percent_ct = percent_ct.round(1).astype(str) + '%'

# Combine counts and percentages
combined_ct = count_ct.astype(str) + ' (' + percent_ct + ')'

# Optional: Rename index/column names for clarity
combined_ct.index.name = 'Period'
combined_ct.columns.name = 'Purpose'

# Reindex to enforce desired order (in case crosstab drops empty categories)
combined_ct = combined_ct.reindex(period_order)

# Display the result
combined_ct

Purpose,EMPLOYEE,RESIDENT_BUSINESS,RESIDENT_NON_BUSINESS,VISITOR_BUSINESS,VISITOR_NON_BUSINESS,Total
Period,,,,,,
Thanksgiving Mon-Tue,0 (0.0%),0 (0.0%),13 (65.0%),4 (20.0%),3 (15.0%),20 (100.0%)
Thanksgiving Wed-Thu,0 (0.0%),0 (0.0%),7 (87.5%),0 (0.0%),1 (12.5%),8 (100.0%)
Thanksgiving Fri-Sun,0 (0.0%),5 (20.0%),7 (28.0%),0 (0.0%),13 (52.0%),25 (100.0%)
Other Weeks Mon-Tue,173 (10.5%),213 (13.0%),341 (20.8%),182 (11.1%),733 (44.6%),1642 (100.0%)
Other Weeks Wed-Thu,368 (19.3%),137 (7.2%),578 (30.3%),400 (21.0%),422 (22.2%),1905 (100.0%)
Other Weeks Fri-Sun,118 (8.3%),106 (7.4%),391 (27.4%),286 (20.0%),527 (36.9%),1428 (100.0%)

In [12]:
working_df['thanksgiving_week_flag'].value_counts()

thanksgiving_week_flag
False    4971
True       57
Name: count, dtype: int64

In [13]:
working_df[['thanksgiving_week_flag', 'main_mode_label']].value_counts()

thanksgiving_week_flag  main_mode_label
False                   DROPPED_OFF_BY_FAMILY_FRIEND                           1460
                        UBER_LYFT                                              1410
                        DROVE_ALONE_AND_PARKED                                  507
                        RENTAL_CAR_DROPPED_OFF                                  452
                        AIRPORT_FLYER_SHUTTLE                                   232
                        MTS_ROUTE_992                                           188
                        DROVE_WITH_OTHERS_AND_PARKED                            126
                        HOTEL_SHUTTLE_VAN                                       125
                        RENTAL_CAR_PARKED                                       114
                        TAXI                                                    102
                        RENTAL_CAR_PICKED_UP                                     52
                        CAR_SERVICE_BLACK_LIMO                                   47
                        OTHER_PUBLIC_TRANSIT                                     26
                        PICKED_UP_BY_FAMILY_FRIEND                               26
                        OTHER_SHARED_VAN                                         24
                        OTHER                                                    22
True                    UBER_LYFT                                                20
False                   WALK                                                     14
                        CHARTERED_TOUR_BUS                                       13
True                    DROPPED_OFF_BY_FAMILY_FRIEND                             10
False                   RENTAL_CAR_GET_IN_PARKED                                  7
                        BICYCLE_PERSONAL_ELECTRIC                                 7
True                    RENTAL_CAR_DROPPED_OFF                                    7
                        AIRPORT_FLYER_SHUTTLE                                     6
False                   RODE_WITH_OTHER_TRAVELERS_AND_PARKED                      5
True                    MTS_ROUTE_992                                             5
False                   GET_IN_PARKED_VEHICLE_AND_DRIVE_ALONE                     5
True                    TAXI                                                      2
False                   BICYCLE_PERSONAL_NON_ELECTRIC                             2
                        GET_IN_PARKED_VEHICLE_AND_RIDE_WITH_OTHER_TRAVELERS       2
True                    CAR_SERVICE_BLACK_LIMO                                    2
False                   BICYCLE_NON_ELECTRIC_BIKESHARE                            1
                        GET_IN_PARKED_VEHICLE_AND_DRIVE_WITH_OTHERS               1
                        E_SCOOTER_PERSONAL                                        1
True                    DROVE_WITH_OTHERS_AND_PARKED                              1
                        OTHER_PUBLIC_TRANSIT                                      1
                        GET_IN_PARKED_VEHICLE_AND_RIDE_WITH_OTHER_TRAVELERS       1
                        GET_IN_PARKED_VEHICLE_AND_DRIVE_WITH_OTHERS               1
                        WALK                                                      1
Name: count, dtype: int64

In [23]:
cross_tab_margins = pd.crosstab(working_df['thanksgiving_week_flag'], working_df['party_size_flight'], margins=True, margins_name="Total", normalize = "index")

In [24]:
cross_tab_margins

party_size_flight,1,2,3,4,5,6,7,8
thanksgiving_week_flag,,,,,,,,
False,0.649769,0.224100,0.065782,0.026956,0.014886,0.009053,0.003018,0.006437
True,0.543860,0.280702,0.122807,0.035088,0.017544,0.000000,0.000000,0.000000
Total,0.648568,0.224741,0.066428,0.027049,0.014916,0.008950,0.002983,0.006364